//Stylesheet: Typography

// font stacks
$body:        "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$display:             "Roboto", "Georgia", Cambria, Times New Roman, Times, sans-serif;

p {
  -webkit-hyphenate-after: 3;
  -webkit-hyphenate-before: 2;
  hyphenate-lines: 3;
  hyphens: none;
  word-break: normal;
  word-wrap: normal;
}
