// Stylesheet: Variables

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #000;
$white:             #fff;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$text-color:        #5c6b80;
$meta-gray:         #9fa6b4;

$primary:           #e8e8e8;
$primary-lt:        lighten($primary, 10%);
$primary-md:        darken($primary, 10%);
$primary-dk:        #4a4a4a;
$secondary:         #2980b9;
$accent:            #da380c;
$chalky-blue:       #75a0d9;

$link-color:        $accent;
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;



// Here's a great tutorial on how to
// use color variables properly:
// http://sachagreif.com/sass-color-variables/
