// GENERAL STYLES
@import 'mixins/dynamic_list-item_width';

:target:before {
content:"";
display:block;
height:60px; /* fixed header height*/
margin:-60px 0 0; /* negative fixed header height */
}

section {
	&:focus {
		outline-color: none;
	}
}

body {
	font-family: $body;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;

	&.fixed {
		overflow: hidden;
	}
}

img {
	image-rendering: auto;
}

#inner-header, #inner-footer {
	flex-direction: column;
}

#inner-header {
	height: 100%;
	align-content: center;
	justify-content: center;
}

#inner-footer {
	.nav {
		opacity: 1;
		flex-direction: row;
		height: auto;
		flex-wrap: wrap;

		li {
			border-bottom: 0px;
		}
	}
}

.center-content {
	width: 100%;
	display: flex;
	justify-content: center;
}

// WORDPRESS BODY CLASSES
// style a page via class

.rtl {}                           // for sites that are read right to left (i.e. hebrew)
.home {}                          // home page
.blog {}                          // blog template page
.archive {}                       // archive page
.date {}                          // date archive page
	.date-paged-1 {}                // replace the number to the corresponding page number
.search {}                        // search page
	.search-results {}              // search result page
	.search-no-results {}           // no results search page
	.search-paged-1 {}              // individual paged search (i.e. body.search-paged-3)
.error404 {}                      // 404 page
.single {}                        // single post page
	.postid-1 {}                    // individual post page by id (i.e. body.postid-73)
	.single-paged-1 {}              // individual paged single (i.e. body.single-paged-3)
.attachment {}                    // attatchment page
	.attachmentid-1 {}              // individual attatchment page (i.e. body.attachmentid-763)
	.attachment-mime-type {}        // style mime type pages
.author {}                        // author page
	.author-nicename {}             // user nicename (i.e. body.author-samueladams)
	.author-paged-1 {}              // paged author archives (i.e. body.author-paged-4) for page 4
.category {}                      // category page
	.category-1 {}                  // individual category page (i.e. body.category-6)
	.category-paged-1 {}            // replace the number to the corresponding page number
.tag {}                           // tag page
	.tag-slug {}                    // individual tag page (i.e. body.tag-news)
	.tag-paged-1 {}                 // replace the number to the corresponding page number
.page-template {}                 // custom page template page
	.page-template-page-php {}      // individual page template (i.e. body.page-template-contact-php
	.page-paged-1 {}                // replace the number to the corresponding page number
	.page-parent {}                 // parent page template
	.page-child {}                  // child page template
	.parent-pageid-1 {}             // replace the number to the corresponding page number
.logged-in {}                     // if user is logged in
.paged {}                         // paged items like search results or archives
	.paged-1 {}                     // individual paged (i.e. body.paged-3)

// LAYOUT & GRID STYLES

.wrap {
	width: 96%;
	margin: 0 auto;
}

// LINK STYLES

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	// mobile tap color
	&:link {
		// this highlights links on iPhones/iPads.
		// so it basically works like the :hover selector
		// for mobile devices.

		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

// H1, H2, H3, H4, H5 STYLES

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 900;
	font-family: $display;

	// removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

h1,
.h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2,
.h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
	text-transform: uppercase;
}

h3,
.h3 {
	font-size: 1.125em;
}

h4,
.h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5,
.h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

// HEADER STYLES

.header {
	background-color: $primary-dk;
	height: 60vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	background-position: center;
	background-size: cover;

	.hero_section {
		position: relative;
		z-index: 10;
	}

	.hero_copy {
		text-align: center;
		color: $white;
		margin-top: 1em;
	}

	.overlay {
		background-color: rgba($primary-dk, .7);
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
}

#logo {
	margin: 0.75em 0 0 0;
	letter-spacing: .02em;
	text-align: center;
	font-size: 3em;
	font-weight: 900;

	a {
		color: $white;
	}

	span {
		font-weight: 400;
	}
}

// NAVIGATION STYLES

#navbar {
	position: relative;
	z-index: 10;
}

nav {
	align-self: center;
	width: 100%;
	display: flex;
	justify-content: center;
	background: $accent;
}

.sticky_nav {
	position: relative;
	top: 0px;
	width: 100%;
	background-color: rgba($accent, .9);
	box-shadow: 0 2px 5px rgba($black, .3), 0 2px 15px rgba($black, .5);

	&.fixed {
		position: fixed !important;
		padding-top: 3em;
		height: 100vh;
		overflow: scroll;
	}
}

#mobile-nav {
	text-align: center;
	transition: all .5s;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;

	.fa-chevron-down {
		margin-left: .5em;
		margin-top: .3em;
	}

	&.mobile_sticky {
		position: fixed;
		top: 0px;
		width: 100%;
		background-color: $accent;
		z-index: 10;
		color: $white;
		padding-top: 10px;
	}

	&.show {
		margin-top: 0em;
		padding: .5em;
		background-color: $accent;
		color: $white;

		a {
			color: $white;
		}

		&.mobile_sticky {
			position: fixed;
		}

		.fa-chevron-down {
			transform: rotate(180deg);
		}
	}
}



.nav {
	border-bottom: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	opacity: 0;
	display: none;
	height: 0;
	transition: all .5s;
	font-weight: 900;

	&.footer-nav {
		display: block;

		li {
			text-align: left;
		}
	}

	&.show {
		opacity: 1;
		display: flex;
		height: 100%;
	}

	li {
	border-bottom: 1px solid white;
	text-align: center;

		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;
			font-family: $display;
			text-transform: uppercase;
			letter-spacing: .1em;

		}

		&:first-child {}

		&:last-child {}

		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} // end .menu li

	// highlight current page
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  // end current highlighters

} // end .nav


// POSTS & CONTENT STYLES

.quote_image {
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;

	.quote_border {
		width: 95%;
		height: 90%;
		border: 1px solid $white;
		position: absolute;
		align-self: center;
	}

	.quote_container {
		width: 30%;
		background-color: rgba($accent, .7);
		height: 500px;
		color: $white;
		margin-right: auto;
		margin-left: 10%;
		padding: 3em;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;

		&.right {
			margin-left: auto;
			margin-right: 10%;
		}

		.quote_body {
			font-family: $body;
			font-size: 1.3em;
		}

		.quote_attribution {
			font-family: $display;
			font-size: 1.2em;
			letter-spacing: .08em;
			margin-top: .5em;
		}
	}
}

#content {
	margin-top: 1.5em;
}

article {
	.hero {
		&--image {
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}

section {
	h2 {
		text-align: center;
		margin: 2em;
	}

	.full_width_content {

		&_background-color {
			color: $white;
		}

		.wrap {
			margin-top: 0em;
			margin-bottom: 3em;
			font-family: $display;
			letter-spacing: 2px;
		}

		&_borders {
			.wrap {
				padding-top: 4em;
				padding-bottom: 4em;

				&:before {
					content: "";
					width: 80%;
					margin: 0 auto;
					border-top: 2px solid $white;
					display: block;
					margin-bottom: 3em;
				}

				&:after {
					content: "";
					width: 80%;
					margin: 0 auto;
					border-bottom: 2px solid $white;
					display: block;
					margin-top: 3em;
				}
			}
		}
	}

	&.what-we-do {
		>ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		li {
			width: 50%;
			display: flex;
			flex-direction: row;
			height: 250px;

			&:nth-of-type(4n+1),
			&:nth-of-type(4n+1) + * {
			  flex-direction: row;
			}

			&:nth-of-type(4n+3),
			&:nth-of-type(4n+3) + * {
  			flex-direction: row-reverse;
			}

			.icon {
				width: 50%;
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					width: 100%;
					max-width: 100px;
					height: auto;
				}
			}

			.content {
				width: 50%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				background-color: $primary-dk;
				padding: 1em;

				h3 {
					margin: 0;
					color: $accent;
				}

				p {
					margin: 0;
					color: $white;
				}
			}
		}
	}

		.accent-btn {
			margin: 2em 0;
		}
	}

	&.contact-section {

		.contact-section__container {
			background-size: cover;
			background-repeat: no-repeat;
			padding: 1em;
			display: flex;
			justify-content: center;

			label {
				color: $white;
				font-weight: 600;
			}
		}

		.contact-section__form_header {
			text-align: center;
		}

		.contact-section__form {
			width: 100%;
			max-width: 650px;
		}

		.wpcf7-form-control {
			&-wrap {
				width: 100%;
				display: inline-block;
				margin-bottom: 1em;

				select {
					max-width: 100%;
				}
			}
			&.accent-btn__yellow {
				width: 200px;
				margin: 0 auto;
				display: block;
			}
		}
	}

}
		.hentry {
			background-color: $white;
			border-radius: 3px;
			margin-bottom: 1.5em;

			header {
				border-bottom: 1px solid $light-gray;
				padding: 1.5em;
			}

			footer {
				padding: 1.5em;
				border-top: 1px solid $light-gray;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		.single-title {}

		.page-title {}

		.entry-title {}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}

		/* entry content */
		.entry-content {
			padding: 1.5em 1.5em 0;

			p {
				margin: 0 0 1.5em;
			}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $accent;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */


		/* image gallery styles */
		.gallery-columns-2 .gallery-item {
			max-width: 50%;
		}

		.gallery-columns-3 .gallery-item {
			max-width: 33.33%;
		}

		.gallery-columns-4 .gallery-item {
			max-width: 25%;
		}

		.gallery-columns-5 .gallery-item {
			max-width: 20%;
		}

		.gallery-columns-6 .gallery-item {
			max-width: 16.66%;
		}

		.gallery-columns-7 .gallery-item {
			max-width: 14.28%;
		}

		.gallery-columns-8 .gallery-item {
			max-width: 12.5%;
		}

		.gallery-columns-9 .gallery-item {
			max-width: 11.11%;
		}
		.gallery {
			.gallery-item {
				display: inline-block;
		    padding: 1.79104477%;
		    text-align: center;
		    vertical-align: top;
		    width: 100%;

				.gallery-icon {
					img {
						margin-bottom: 0;
					}
				}
			}
			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}

.impact-charts {
	position: relative;
	display: block;

	.content {
		color: $primary-dk;
		font-weight: 600;

		p {
			margin-top: 0;
		}
	}

	>ul {
		display: flex;
		position: relative;
		justify-content: space-between;
		list-style-type: none;
		flex-wrap: wrap;

		a {
			text-decoration: none;
		}

		&.horizontal {
			flex-direction: row;

			li {
				margin: 0 .5em;
				padding: 0 1em;
				width: 100%;
			}
		}

		&.vertical {
			flex-direction: column;
			align-items: center;

			&.two-up {
				flex-direction: row;
				flex-wrap: wrap;
				li {
					width: 50%;
				}
			}

			&.chart-left {
				display: flex;
				flex-direction: row;
			}

			&.chart-right {
				display: flex;
				flex-direction: row-reverse;
			}

			&.chart-center {
				display: flex;
				flex-direction: column;

				.chart, .content {
					width: 80%;
				}
			}

			&.three-up {
				flex-direction: row;
				flex-wrap: wrap;
				li {
					width: calc(100% / 3);
				}
			}

			li {
				display: flex;
				flex-direction: row;
				max-width: 720px;
				align-items: center;
				margin-bottom: 2em;

				.chart {
					width: 50%;
				}

				.content {
					width: 50%;
					font-family: $display;
					font-size: 1.3em;
					font-weight: 500;

					p {
						margin-top: 0;
					}
				}

			}

		}

	}

	.chart {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		margin: 0 -1em;

		canvas {
			width: 100% !important;
			height: 100% !important;
			position: relative;
		}

		.percentage {
			position: absolute;
			font-family: $display;
			font-size: 1.7em;
			font-weight: 600;
			color: $secondary;
		}
	}
}

.content-columns {
	>ul {
		display: flex;
		flex-direction: row;
		list-style-type: none;
		flex-wrap: wrap;

		>li {
			margin: 0 .5em;
			padding: 0 1em;
			width: 100%;

			.column_header {
				display: flex;
				justify-content: center;
				align-items: flex-end;
				min-height: 50px;
				margin-top: 0;
				line-height: 1;
				text-align: center;
			}

			.process {
				&_step {
					border: 20px solid $chalky-blue;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 100px;
					height: 200px;
					width: 200px;
					margin: 0 auto;
					text-align: center;
					line-height: 1;

					.border {
						padding: 2em;
						border-radius: 5em;
						background: $white;
						box-shadow: 0px 0px 10px 5px rgba($primary-dk, 0.1);
					}

					.step {
						display: block;
						font-family: $display;
						font-weight: 500;
						text-transform: uppercase;
					}

					.number {
						font-size: 1.5em;
					}
				}
			}

			img {
				width: 100%;
				height: auto;
			}

			ul {
				margin-left: 0em;
				margin-top: 0;
				padding-top: 0;

				li {
					list-style-type: none;
					margin-bottom: 1em;

					&::before {
					  content: "\f138";
						font-size: .8em;
						margin-right: .5em;
						color: $chalky-blue;
						font-family: "Font Awesome 5 Pro";
					  font-weight: 900;
					  text-align: center;
					}
				}
			}
		}
	}
}


/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $accent;

      &:hover, &:focus {
      	background-color: $accent;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .accent-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .accent-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $black;
	color: $light-gray;
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}
